{% extends 'layout.html' %}
{% block content %}
   <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Vegefoods</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
	          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
              	<a class="dropdown-item" href="wishlist.html">Wishlist</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div>
            </li>
	          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	          <li class="nav-item active"><a href="contact.html" class="nav-link">Contact</a></li>
	          <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>

    <section class="ftco-section contact-section bg-light">
      <div class="container">
      	<div class="row d-flex mb-5 contact-info">
          <div class="w-100"></div>

            <form action="{{ url_for('post.store') }}" method="POST" class="bg-white p-5 contact-form" >
              {{ form.hidden_tag() }}
              <div class="form-group">
                  {{ form.title.label(class="form-control-label") }}
                  {{ form.title(class="form-control") }}
                  {% for error in form.title.errors %}
                     <p style="color: red;">{{ error }}</p>
                  {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.content.label(class="form-control-label") }}
                  {{ form.content(class="form-control") }}
                  {% for error in form.content.errors %}
                     <p style="color: red;">{{ error }}</p>
                  {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
        </div>
      </div>
    </section>

{% endblock %}