<!DOCTYPE HTML>
<html>
<head>
    <title>Theory by TEMPLATED</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/assets/css/main.css">
</head>


        {% block content %}

        {% endblock %}

            <footer id="footer"><div class="inner">
					<div class="flex">
						<ul class="icons"><li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul></div>
				</div>
			</footer>
            <div class="copyright">
			Site made with: <a href="https://templated.co/">TEMPLATED.CO</a>
            </div>

		<script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/js/skel.min.js"></script>
        <script src="/static/assets/js/util.js"></script>
        <script src="/static/assets/js/main.js"></script>
</body>
</html>